.embla {
  overflow: hidden;
  height: 100%;
  border-radius: 16px;
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  height: 100%;
}
.embla__container {
  display: flex;
  height: 100%;
  gap: 10px;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  border-radius: 16px;
}

.embla__controls {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.632);
  background-color: rgba(0, 0, 0, 0.402);
  color: #fff;
}
.embla__buttons {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .embla__button:disabled {
  color: var(--detail-high-contrast);
} */
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.embla__dot {
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.1rem #fff;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.1rem #000;
}

.project_image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  filter: brightness(1);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.project_image:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}