@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

.h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 7.5vw;
  text-align: center;
  line-height: 1.3;
  /* text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25); */
}

.h2 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2vw;
  text-align: left;
  line-height: 1.5;
}

.h2W {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2vw;
  text-align: left;
  line-height: 1.5;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0 40px;
  height: 100%;
  flex: 1;
}

/* mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .h1 {
    font-size: 6vw;
    margin-top: 20px;
  }

  .h2 {
    font-size: 4vw;
  }
}

.portraitblock {
  flex: 0.5;
  width: 100%;
}

@media (max-width: 768px) {
  .portraitblock {
    flex: 1;
    width: 100%;
  }
}

.textblockportrait {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.textblockportrait p {
  max-width: 70%;
}

.project_text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.625);
  color: #fff;
  border-radius: 0 0 16px 16px;
}
