.customModal {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  max-width: unset;
  max-height: 80vh;
  overflow-y: auto;
}

.react-responsive-modal-container {
  overflow: auto !important;
}

body.dark .customModal {
  background-color: #2a2a2a;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 25px 50px -12px;
}

/* @keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
} */

@keyframes customEnterModalAnimation {
  0% {
    transform: translateX(-100vh);
    opacity: 0;
  }
  60% {
    transform: translateX(20px); /* Dépasse légèrement */
    opacity: 1;
  }
  100% {
    transform: translateX(0); /* Position finale */
    opacity: 1;
  }
}

@keyframes customExitModalAnimation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(20px);
    opacity: 1;
  }
  100% {
    transform: translateX(100vh);
    opacity: 0;
  }
}

.react-responsive-modal-closeButton svg {
  fill: #000;
}

body.dark .react-responsive-modal-closeButton svg {
  fill: #fff;
}
